{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    // "consistent-return": 0,
    // "strict": 0,
    // "no-underscore-dangle": 0,
    // "no-multi-spaces": 0,
    // "quotes": [ 2 ],
    // "new-cap": 0,
    // "comma-spacing": 0,
    // "no-use-before-define": 0,
    // "camelcase": 0,
    // "curly": 0,
    // "no-trailing-spaces": 0,
    // "semi-spacing": 0,
    // "semi-spacing": 0,
    // "no-unused-expressions": 0,
    // "eol-last": 0,
    // "dot-notation": [2, {"allowPattern": "^NODE_ENV$"}],
    // "no-extend-native": 0,
    // "comma-dangle": 0,
    // "no-redeclare": 1,
    // "no-shadow": 1
  },
}
